* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: rgba(9, 79, 200, 0.5); 
    --secundaria: rgba(0, 198, 255, 0.3); 
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.2);

}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.75rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #276AD6, #13132b);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 0 20px rgba(9, 79, 200, 1);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 2.5rem;
    color: #276AD6;
    font-weight: bold;
    margin: 10px;
}

.cabecalho-sub-titulo {
    font-size: 1.6rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 2.8rem; 
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.container-portfolio {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
  }
  
  .header-secao {
    margin-bottom: 50px;
  }
  
  .header-secao h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }

  .grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .card:hover svg path {
    color: #ffffff;  
    transition: fill 0.3s ease;
  }

  .card {
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--vidro);
    }

    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
    }

    .icon-wrapper {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        color: #FFFFFF; 
    }
      
    .icon-wrapper svg {
        width: 100%;
        height: 100%;
    }
      
    .card h3 {
        margin-bottom: 8px;
        font-size: 1.25rem;
}

.grid-stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
    border-top: 1px solid var(--vidro);
}

.stat-item h4 {
    font-size: 2rem;
    margin-bottom: 5px;
}
  
  .stat-item p {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .grid-stats {
      flex-direction: column;
      align-items: center;
    }
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projeto-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form::placeholder {
    color: rgba(255, 255, 255, 0.85);
    transition: opacity 0.3s ease;
}

.campo-form:focus::placeholder {
    opacity: 0;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 50%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 50%),
        var(--maisEscuro);
    pointer-events: none;
}

@keyframes flutuar{
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}